# Root environment variables template
POSTGRES_USER=admin
POSTGRES_PASSWORD=secret
POSTGRES_DB=products_db

MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=secret
MONGO_INITDB_DATABASE=orders_db

PRODUCT_SERVICE_PORT=3001
ORDER_SERVICE_PORT=3002
GATEWAY_PORT=3000
